/* Navbar.css */
.navbar {
    background-color: #1d0505da !important; /* Define a cor de fundo personalizada */
}

.navbar-title {
    flex-grow: 1; /* Para empurrar os botões para a direita */
    text-align: left; 

}
